.navbar-brand{
  color: crimson;
}

.navbar-icon{
  color: crimson;
}

#navbarDropdown{
  color: yellow;
}

.dropdown-menu{
  background-color: black;
}

.dropdown-divider{
  color: red;
}

.dropdown-item{
  color: aqua;
}

#surgery{
  color: yellow;
}
