<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <fa-icon [icon]="faHospital" class="navbar-icon"></fa-icon><a class="navbar-brand" href="#">{{title | uppercase}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pacientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/patient">Nuevos Pacientes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/sick-list">Pacientes Enfermos</a></li>
            <li><a class="dropdown-item" href="#">Pacientes En Atencion</a></li>
            <li><a class="dropdown-item" href="#">Pacientes Recuperados</a></li>
          </ul>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="surgery">Consultorios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
